@import '_colorScheme';
@import '_variables';


.usereditpanel-pop-up {
	background: #303030;
	border-radius: 1px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
	margin: 1px;
	height: 100%;

	&:first-child {
		margin-top: 0.9375rem;
	}

	&:last-child {
		margin-bottom: 0.9375rem;
	}

	> .usereditpanel-pop-up__header {
		background: #0A20ED;
		color: #ddd;

		min-width: 2.5rem;
		height: 2.5rem;
		font-size: 1.2em;

		text-align: left;
		padding-top: 0.5rem;
		padding-left: 1rem;
		display: flex;
		align-items: center;
  		gap: 0.5rem;

		> .svg {
			filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
			width: 1.1em;
			height: 1.1em;
		}
	}

	> .usereditpanel-pop-up__footer {
		flex: 1;
		position: absolute;
		bottom: 10px;
		padding: 0.625rem 0.9375rem;
		padding: 0.525rem 0.6375rem;
		cursor: default;

		overflow-wrap: break-word;

		> hr {
			margin-left: 0px;
			border-color: #7F7F7F;
		}

		> .usereditpanel-pop-up__button {
			margin-top: 10px;
			background: #636363;
			padding: 5px 5px 5px 5px;
			gap: 10px;
			border-radius: 5px;
			border: 1px;
			border: 1px solid #7F7F7F;
			color: #ddd;

			> svg {
				margin-top: -0.1em;
				vertical-align: middle;
				margin-right: -0.4em;
				width: 1em;
				height: 1em;
			}

			.label {
				margin-left: 10px;
				margin-right: 10px;
				margin-top: 2px;
				line-height: inherit;
			}
		}
	}

	> .usereditpanel-pop-up__contents {
		flex: 1;
		padding: 0.625rem 0.9375rem;
		padding: 0.525rem 0.6375rem;
		cursor: default;

		overflow-wrap: break-word;

		> hr {
			margin-left: 0px;
			border-color: #7F7F7F;
		}

		> .usereditpanel-pop-up__groupselector {
			display: flex;
			flex-wrap: wrap;
			margin-top: 0.5em;
			margin-bottom: 0.5em;

			> .usereditpanel-pop-up__groupselector__button {
				width: 50px;
				height: 30px;
				border: 0px;
				margin: 4px;
				gap: 10px;
				color: #ddd;
				opacity: 0.2;
			}

			> .usereditpanel-pop-up__groupselector__button-active {
				width: 50px;
				height: 30px;
				border: 0px;
				margin: 4px;
				gap: 10px;
				color: #ddd;
				opacity: 1;
			}

		}

		> .usereditpanel-pop-up__action {
			margin-top: 15px;
			color: #ddd;
		}

		> .usereditpanel-pop-up__label {
			color: #ddd;
		}

		> .usereditpanel-pop-up__select{
			margin-top: 10px;
			width: 86%;
			height: 3em;
			background: #232323;
			margin-bottom: 0.5em;
			color: #ddd;
		}

		> .usereditpanel-pop-up__button {
			margin-top: 10px;
			background: #636363;
			padding: 5px 5px 5px 5px;
			gap: 10px;
			border-radius: 5px;
			border: 1px;
			border: 1px solid #7F7F7F;
			color: #ddd;

			> svg {
				margin-top: -0.1em;
				vertical-align: middle;
				margin-right: -0.4em;
				width: 1em;
				height: 1em;
			}

			.label {
				margin-left: 10px;
				margin-right: 10px;
				margin-top: 2px;
				line-height: inherit;
			}
		}
	}
}

